---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
---

<Layout title="ESG-69 Solution">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		min-height: 100vh;
	}
</style>
